$background: #272822;

pre.highlight {
  background-color: $background;
  padding: 1px 1px 1px 1px;
  border: 1px solid #ddd;  
  margin: 1px 0 1px 0;  
  overflow: scroll;

  code {
    font-family:'Bitstream Vera Sans Mono','Courier', monospace;
    font-size: 10px;
  }

  pre.hll {
    background-color: #49483e;
  }
  pre.c {
    color: #a8a38d;
  }
  pre.err {
    color: #960050;
    background-color: #1e0010;
  }
  pre.k {
    color: #66d9ef;
  }
  pre.l {
    color: #ae81ff;
  }
  pre.n {
    color: #f8f8f2;
  }
  pre.o {
    color: #f92672;
  }
  pre.p {
    color: #f8f8f2;
  }
  pre.cm, pre.cp, pre.c1, pre.cs {
    color: #a8a38d;
  }
  pre.ge {
    font-style: italic;
  }
  pre.gs {
    font-weight: bold;
  }
  pre.kc, pre.kd {
    color: #66d9ef;
  }
  pre.kn {
    color: #f92672;
  }
  pre.kp, pre.kr, pre.kt {
    color: #66d9ef;
  }
  pre.ld {
    color: #e6db74;
  }
  pre.m {
    color: #ae81ff;
  }
  pre.s {
    color: #e6db74;
  }
  pre.na {
    color: #a6e22e;
  }
  pre.nb {
    color: #f8f8f2;
  }
  pre.nc {
    color: #a6e22e;
  }
  pre.no {
    color: #66d9ef;
  }
  pre.nd {
    color: #a6e22e;
  }
  pre.ni {
    color: #f8f8f2;
  }
  pre.ne, pre.nf {
    color: #a6e22e;
  }
  pre.nl, pre.nn {
    color: #f8f8f2;
  }
  pre.nx {
    color: #a6e22e;
  }
  pre.py {
    color: #f8f8f2;
  }
  pre.nt {
    color: #f92672;
  }
  pre.nv {
    color: #f8f8f2;
  }
  pre.ow {
    color: #f92672;
  }
  pre.w {
    color: #f8f8f2;
  }
  pre.mf, pre.mh, pre.mi, pre.mo {
    color: #ae81ff;
  }
  pre.sb, pre.sc, pre.sd, pre.s2 {
    color: #e6db74;
  }
  pre.se {
    color: #ae81ff;
  }
  pre.sh, pre.si, pre.sx, pre.sr, pre.s1, pre.ss {
    color: #e6db74;
  }
  pre.bp, pre.vc, pre.vg, pre.vi {
    color: #f8f8f2;
  }
  pre.il {
    color: #ae81ff;
  }
  pre.gh {}
  pre.gu {
    color: #75715e;
  }
  pre.gd {
    color: #f92672;
  }
  pre.gi {
    color: #a6e22e;
  }
}

code{
  background-color: "#282C34";
  color: whitesmoke;}
pre {
  background-color: "#282C34";
  color: whitesmoke;
}
